<div class="posts">
  <% @posts.each_with_index do |post, i| %>
    <section class="post" id="index_post_<%= post.id %>">
      <%= render "posts/post_content", post: post, i: i %>
    </section>
  <%end%>
</div>


