.form-upload{
    border: 1px solid #dbdbdb;
    height: auto;
    margin: auto 160px;
    padding: 30px;
    border-radius: 3px;
    input[type='text']{
      width: 100%;
    }
}
.posts{
  margin: 0px 180px 10px;
 
  .post{
    overflow-x: hidden;
    border: 1px solid #efefef;
    margin: 60px 0;
    border-radius: 3px;
    .user{
      border-bottom: 1px solid #efefef;
      display: flex;
      .avatar{
        width: 30px;
        margin: 8px;
        img{
          width: 100%;
          border: 1px solid #efefef;
          border-radius: 50%;
          }
        }
      .username{
        padding-top: 10px;
        color: #262626;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Rubik', sans-serif;
        }
      }
    
      #like {
        margin-top: 0px;
        margin-left:10px;
        font-size: 24px;
      }
      #comment {
        margin-top: 0px;
        font-size: 24px;
      }
      #share {
        margin-top: 0px;
        font-size: 24px;
      }
      #saver {
        margin-top: 0px;
        font-size: 24px;
      }
      #like_count {
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
        padding-left: 10px;
      }
      .main-image{
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
      }
    #comment_content{
      height: 30px;
      border-radius: 10px;
      margin-bottom: 4px;
    }
    input{
      border-radius: 10px;
  
    }
  }
}

.user_comment{
  width: 100%;
  margin-left: 10px;
  .avatar_comment{
    width: 30px;
    margin: 8px;
    img{
      width: 100%;
      border: 1px solid #efefef;
      border-radius: 50%;
    }
  }
  .username_comment{
    padding-top: 10px;
    color: #262626;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 0px;
    span{
      word-wrap: break-word;
    }
  }
  .time_comment{
    margin: 0px 0px 0px 90px;
    font-size: 15px;
    color: grey;
  }
  #dropdownMenuButton{
    border: none;
    background: none;
    color: grey;
    margin-right: 10px;
  }
}
#username_post_comment{
    position: relative;
    top:10px;
    left:10px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 0px;
}
.caption_post_comment{
  padding-top: 10px;
  color: #262626;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 0px;
  padding-left: 40px;
}
.description_post_comment{
  padding:0px 0px 10px 0px
}


#post_comment{
  width: 100%;
  margin-left: 10px;
  .avatar_post_comment{
    width: 30px;
    margin: 8px;
    img{
      width: 100%;
      border: 1px solid #efefef;
      border-radius: 50%;
    }
  }
  .username_post_comment{
    padding-top: 10px;
    color: #262626;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 0px;
    span{
      .break-word { word-wrap: break-word;}
    }
  }
  .time_post_comment{
    margin: 0px 0px 0px 90px;
    font-size: 15px;
    color: grey;
  }
  #dropdownMenuButton_post{
    border: none;
    background: none;
    color: grey;
  
  }
}
